<div class="container">
  <nav class="navbar-nav align-items-center  navbar-light">
      <div class="ml-auto navbar-nav">
          <ul class="nav">
              <li class="nav-item">
                  <a *ngIf="!this.auth.isLoggedIn()" class="nav-link p-2" routerLink="/signup"><span class="fas fa-registered px-1"></span>Register</a>
              </li>
              <li class="nav-item">
                  <a *ngIf="!this.auth.isLoggedIn()" class="nav-link p-2" routerLink="/signin"><span class="far fa-user px-1"></span>Login</a>
              </li>
              <li class="nav-item">
                <a *ngIf="this.auth.isLoggedIn()" class="nav-link p-2" routerLink="/account"><span class="fas fa-user-tie px-1"></span>Welcome {{ this.auth.user().name }}</a>
              </li>
              <li class="nav-item">
                <a *ngIf="this.auth.isLoggedIn()" class="nav-link p-2" href="#" (click)="onLogout()"><span class="fas fa-sign-out-alt px-1"></span>Logout</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link p-2" routerLink="/cart"><i class="fas fa-shopping-cart px-1"></i>{{ this.CartSvc.getTotalCount()}}</a>
              </li>
          </ul>
      </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/products">Awesome Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/about">About us</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/news">News</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/Contact">Contact us</a>
      </li>
    </ul>
  </div>
  </nav>
</div>
<div class="border-bottom"></div>
