<div class="container mt-2">
  <form action="" method="GET" #sForm="ngForm" (submit)="onSearch()" class="my-2">
    <div class="form-row">
      <div class="col-md-3 my-2">
        <input type="text" class="form-control" name="q" [(ngModel)]="query.q" placeholder="Keyword">
      </div>
      <div class="col-md-3 my-2">
        <select id="brand" class="form-control" name="brand" [(ngModel)]="query.brand">
          <option value="">Brand</option>
          <option value="1">Apple</option>
          <option value="2">SamSung</option>
        </select>
      </div>
      <div class="col-md-3 my-2">
        <select id="category" class="form-control" name="category" [(ngModel)]="query.category">
          <option value="">Category</option>
          <option value="1">Electronic</option>
          <option value="2">Clothes</option>
        </select>
      </div>
      <div class="col my-2">
        <select id="min_price" class="form-control" name="min_price" [(ngModel)]="query.min_price">
          <option value="">From</option>
          <option value="1">10</option>
          <option value="2">20</option>
        </select>
      </div>
      <div class="col my-2">
        <select id="max_price" class="form-control" name="max_price" [(ngModel)]="query.max_price">
          <option value="">To</option>
          <option value="1">1000000</option>
          <option value="2">2000000</option>
        </select>
      </div>
      <div class="col my-2">
        <button type="button" class="btn btn-secondary">Search</button>
      </div>
    </div>
  </form>
<!-- loading Start -->
<p class="text-center" *ngIf="loading"><img src="https://loading.io/spinners/pacman/index.eat-bean-pie-loading-gif.svg" alt="Loading..."></p>
<!-- loading end -->
<div class="row">
  <div class="col-md-3" *ngFor="let p of products  | paginate: { itemsPerPage: 6, currentPage: p }">
   <div class="product-card card">
     <div class="product-card-image">
    <img class="card-img-top" src="{{ this.productSvc.getURL(p.thumbnail) }}" alt="">
     </div>
    <div class="card-body">
      <h5 class="card-title">{{ p.title }}   <small>by <a href="">{{ p.Brand.name }} </a> </small> </h5>
      <p class="card-text">$ {{ p.price }}</p>
      <button (click)="addToCart(p)" class="btn btn-secondary">Add to Cart</button>
    </div>
  </div>
  </div>
</div>
<div class="row my-3">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>
