    <!-- ShopCart Table -->
<div class="container">
    <h2 class="title my-4">Shopping Cart</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="table-secondary">
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th><i class="far fa-trash-alt"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of this.cartSvc.getItems()">
                    <td><img src="{{ this.prodSvc.getURL(item.thumbnail) }}" class="img-thumbnail" width="64" alt=""></td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <div class="quantity">
                            <span class="qty-minus" (click)="updateQtyCart(item, 'm')" ><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <input type="number" class="qty-text mx-2" id="qty" step="1" min="1" max="99" name="quantity" value="{{ item.qty }}">
                            <span class="qty-plus" (click)="updateQtyCart(item, 'p')"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                    </td>
                    <td>${{ item.qty * item.price }}</td>
                    <td><span (click)="removeItemCart(item)"><i class="fas fa-times"></i></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Sub Total -->
    <div class="row">
        <div class="col-md-4 offset-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <strong>Total(Tax incl.):</strong>
                        </td>
                        <td>${{ this.cartSvc.getTotalAmount() }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Total</strong>
                        </td>
                        <td>$ {{ this.cartSvc.getTotalAmount() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container pb-4">
        <!-- Continue Shopping/ Check Out Button -->
        <div class="float-left"><a href="#" class="btn btn-secondary">Continue Shopping</a></div>
        <div class="float-right"><a href="#" class="btn btn-secondary">Check Out</a></div>
    </div>
        

</div>      